/* .subject-list{
    margin-left: 30px;
}
.sub-btn{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:20%;
} */


/* SubjectList.css */

.subject-list {
    margin: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  li.selected {
    background-color: #3498db;
    color: #fff;
  }
  